page-login {
    button.custombutton{
        width: 95%;
      }
      ion-row.my-col {
        width: 100%;
        height: 200px;
        max-height: 50px;
        text-align: center;
        margin-top: 20px;
      }
      ion-buttons.button{
        width: 100%;
    }
}
