page-notification {
    ion-list.my-list{
        margin-bottom: 0px;
    }
    div.wrap-item{
        padding-top: 100px;
        text-align: center;
        align-content: center;
	    align-self: center;
        img.my-img{
            text-align: center;
            align-content: center;
	        align-self: center;
            width: 40%;
            height: 40%;
        } 
    }
}