
ion-img.pic
{
    width: 25%;
    height: 80px;
}

button.custom{
    width: 100%;
    margin-top: 65px;
    margin-left: -2px;
    text-align: center;
  }
  ion-buttons.custombuttons{
    width: 100%;
    text-align: center;
  }