<!--
  Generated template for the RecruitmentDetailPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-title class="navcolor" >Thông tin tuyển dụng</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <ion-item>
      <ion-img class='pic' item-start src="assets/imgs/nashtech.jpg"></ion-img>
      <h2> NashTech </h2>
      <p> May 13,2020</p>
      <h2>Java Technical Architect</h2>
    </ion-item>
    <ion-item>
      <ion-label color="secondary">Yêu cầu công việc</ion-label>
    </ion-item>
    <ion-item>
      <ion-card-content text-wrap>
        <p>- Nam </p>
        <p>- 18t</p>
        <p>- Có bằng cử nhân.</p>
        <p>- Lương 5 - 10 triệu</p>
        <p>- Kinh nghiệm 3- 5 năm</p>
        <p>- Ham học hỏi
        </p>
      </ion-card-content>
    </ion-item>
    <ion-item>
      <ion-label color="secondary">Mô tả công việc</ion-label>
    </ion-item>
    <ion-item>
      <ion-card-content text-wrap>
        <p>- Can play Techical Leader of Technical Architect role in the projects</p>
        <p>- To contribute to the system architeture degisn</p>
        <p>- Contribute to the design specifications that are in compliance with established coding quality standard of
          the company.</p>
        <p>- To con sult or support the project teams and cilents on technical perspectives</p>
        <p>- To support for presales activities ( R&D, estimate, pilot, etc) technical interviews</p>
        <p>- To perform trainings/serminars for the company- To develop the new skills for project teams if any new
          technologies required based on the project roadmap.
        </p>
      </ion-card-content>
      <ion-buttons class="custombuttons1" *ngIf="check">
        <button class='custom1' ion-button round outline color="secondary" (click)="Login($event)">
          Chấp nhận
        </button></ion-buttons>
    </ion-item>
    <ion-grid>
      <ion-item>
        <ion-label color="secondary">Ứng viên</ion-label>
      </ion-item>
      <ion-row>
        <div *ngFor="let item of userList ; let i=index">
          <div *ngIf="i < 5">
            <ion-avatar class="icon-avatar">
              <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
            </ion-avatar>
          </div>
        </div>
        <div>
          <ion-avatar class="plus-avatar">
            <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
          <div  style="font-size:20px" class="centered">+{{userList.length - 5}}</div>
          </ion-avatar>
        </div>
      </ion-row>
    </ion-grid>
  </ion-list>
</ion-content>