<!--
  Generated template for the RecruitmentDetailPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-title class="navcolor">Thông tin tuyển dụng</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <ion-item>
      <ion-img class='pic' item-start src={{recruitment?.image}}></ion-img>
      <h2> {{recruitment?.companyName}} </h2>
      <p> {{recruitment?.date}}</p>
      <h2>{{recruitment?.title}}</h2>
    </ion-item>
    <ion-item>
      <ion-label color="secondary">Yêu cầu công việc</ion-label>
    </ion-item>
    <ion-item>
      <ion-card-content text-wrap>
        <p>-Vị trí: {{recruitment?.vacancies}} </p>
        <p>-Số lượng: {{recruitment?.amount}}</p>
        <p>-Mô tả: {{recruitment?.description}}</p>
        <p>-Mức lương: {{recruitment?.salary}}</p>
        <p>-Địa chỉ: {{recruitment?.address}}</p>
      </ion-card-content>
    </ion-item>
    <ion-item>
      <ion-label color="secondary">Mô tả công việc</ion-label>
    </ion-item>
    <ion-item>
      <ion-card-content text-wrap>
        <p>{{recruitment?.detail}}</p>
      </ion-card-content>
      <ion-buttons class="custombuttons1" *ngIf="check">
        <button class='custom1' ion-button round outline color="secondary" (click)="Apply($event)">
          Chấp nhận
        </button></ion-buttons>
    </ion-item>
    <ion-grid>
      <ion-item *ngIf="!check">
        <ion-label color="secondary">Ứng viên</ion-label>
      </ion-item>
      <ion-row *ngIf="!check">
        <div *ngFor="let item of userList ; let i=index">
          <div *ngIf="i < 5">
            <ion-avatar class="icon-avatar">
              <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
            </ion-avatar>
          </div>
        </div>
        <div>
          <ion-avatar class="plus-avatar" (click)="itemList()">
            <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
            <div style="font-size:20px" class="centered">+{{userList.length - 5}}</div>
          </ion-avatar>
        </div>
      </ion-row>
    </ion-grid>
  </ion-list>
</ion-content>