page-recruitment {
    button.custombutton{
        width: 100%;
        background-color: transparent;
      }
      ion-icon.Icon{
          margin-left: 10px;
          margin-right: 10px;
      }
}
