page-first {
ion-buttons.Login
{
    --color: #FF6633
}

ion-col.Lo-go {
    width: 80%;
    height: 200px;
    max-height: 200px;
    text-align: center;
  }

ion-col.Lo-gin {
    width: 100%;
    height: 200px;
    max-height: 200px;
    padding-top: 200px;
    text-align: center;
  }

  ion-col.D-K {
    width: 110%;
    height: 200px;
    max-height: 40px;
    padding-top: 60px;
    text-align: center;
  }

  ion-col.D-N {
    width: 110%;
    height: 200px;
    max-height: 50px;
    padding-top: 50px;
    text-align: center;
  }
  
  ion-img.logo{
    width: 82%;
    height: 375px;
    padding:0;
    text-align: center;
  }
  ion-buttons.button{
      width: 80%;
  }
}
