ion-img.avar{
    width: 40%;
    height: 120px;
    padding:0;
    text-align: center;
  }

  ion-col.Ava {  
    text-align: center;
    
  }

  button.custom{
    width: 100%;
    
  }

  ion-buttons.custombuttons{
    width: 100%;
  }

  